  
  .side-bar-item {
    width: 250px !important;
  }
  
  .main-container {
    padding: 15px 50px;
  }
  
  .top-items {
    width: 100%;
    text-align: center;
    padding: 20px 0px;
  }
  
  .bottom-items {
    bottom: 0px;
    position: absolute;
    width: 100%;
  }
  
  img {
    border-radius: 5px;
  }