<mat-accordion>
  <mat-expansion-panel [ngStyle]="style">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>{{ menuitem.icon }}</mat-icon> {{ menuitem.text }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-container *ngIf="menuitem.children.length > 0; else elseTemplate">
      <app-menu-item-am
        *ngFor="let child of menuitem.children"
        [menuitem]="child"
      ></app-menu-item-am>
    </ng-container>
    <ng-template #elseTemplate>
      <mat-action-list *ngIf="menuitem.action" [ngStyle]="styleLink">
        <button mat-list-item >
          <mat-icon>{{ menuitem.icon }}</mat-icon> {{ menuitem.text }}
        </button>
      </mat-action-list>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
